<p>Ce site permet de centraliser l'information afin de connaître les meilleurs films du moment.</p>
<p>Si le site n'est pas à jour (dernière mise à jour le <%= #FilmsController.getDate() %>) vous pouvez récupérer les derniers films à l'aide du bouton ci dessous : </p>
<%= link_to "Réactualiser la base de données des films du moment", action: "get",controller: "films" %>
