<h1>Films : Best for the press</h1>
<% @films.each do |film| %>
<div class="modalBox">
<p> <%= link_to film.name, film.link, :target => "_blank" %> : press  <%= film.press %> spectator <%= film.spectator %></a> </p><hr>
<% end %>
</div>

